{
  "plugins": ["@shufo/prettier-plugin-blade"],
  "overrides": [
    {
      "files": ["*.blade.php"],
      "options": {
        "parser": "blade",
        "tabWidth": 4,
        "wrapAttributes": "preserve",
        "sortTailwindcssClasses": true,
        "printWidth": 100000
      }
    }
  ]
}